@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containers{
    height: 100vh;
    width: 100vw;  
    /* border: 5px solid red; */
}

.top{
    /* border: 2px solid; */
    height: 20%;
    display:  flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
}
.list{
    border: 2px solid;
    width: 100px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    /* height: 50px; */
}
.logo{
    border: 5px solid;
    height: 80px;
    width: 80px;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.logo p{
    transform: rotate(45deg);
    font-size: 50px;
    font-weight: bolder; 
}

.middle{
    /* border: 10px solid green; */
    height: 50%;
    display: flex;
}
.left{
    /* border: 2px solid black; */
    width: 50%;
    height: 100%;
}
.right{
    /* border: 5px solid red; */
    width: 50%;
    height: 100%;
}
.top1{
    /* border: 10px solid yellow; */
    height: 40%;
    width:100%;
    display:flex;
    
}
.left1{
    border-top: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    width: 50%;
    height: 100%;
    background-color: #e0dbd7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.ri{
    border-top: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;


}
.bot1{
    /* border-top: 1px solid; */
    border-bottom: 5px solid;

    display: flex;
    width: 100%;
    height: 60%;
    
}
.top2{
    /* border-top: 1px solid; */
    border-right: 5px solid;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.top2 h1{
    padding: 10px;
}
.bot2{
    /* border-top: 1px solid; */
    border-right: 5px solid;
    width: 40%;
    height: 100%;
    background-color: #e0dbd7;
    font-family: 'Mea Culpa', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 80px;
}
.bot2 p{
    transform: rotate(-40deg);

}
.right{
    display: flex;
}
.left3{
    border-top: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    width: 50%;
    height: 100%;
    position: relative;
}
.left3 h1{
    position: absolute;
    bottom: 60%;
    padding: 10px;
    color: white;
    font-size: 40px;
    left: 10%;
}
.left3 p{
    position: absolute;
    bottom: 20%;
    left: 50px;
    font-size: 50px;
    color: white;
}
.ri3{
    border-top: 5px solid;
    border-bottom: 5px solid;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;

}
.bottom{
    /* border-top: 1px solid; */
        width: 100%;
    height: 30%;
    display: flex;
}
.one{
    border-right: 5px solid;
    width: 35%;
    height: 100%;
    padding-top: 10px;
    position: relative;
}
.one p{
    position: absolute;
    bottom: 35%;
    left:25%;
    font-size: 50px;
    color: white;
}
.two{
    border-right: 5px solid;    
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.two p{
    padding: 30px;
}
.last{
    /* border-top: 1px solid; */
    width: 20%;
    height: 100%;
    background-color: #e0dbd7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}